@use "@styles/abstracts"as a;

.container {
  max-width: 18.75rem;
  margin: 0 auto;

  &__card {
    position: relative;
    width: 100%;

    .card__overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 5rem;
      opacity: 0;
      background-color: rgba($color: a.$primary-clr-1, $alpha: 0.5);
      transition: a.$transition-ease;

      .icons {
        display: flex;
        gap: 0.7rem;
        position: absolute;
        color: a.$primary-clr-4;
        font-size: a.$middle-fs;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
    }

    &:hover .card__overlay {
      opacity: 1;
    }
  }

  article {
    @include a.flex-direction-column;
    gap: 0.5rem;

    .price {
      font-weight: a.$regular-fw;
      font-size: a.$regular-fs;
      color: a.$primary-clr-5;
    }

    .review {
      @include a.flex-direction-column;

      a {
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}