@use "@styles/abstracts"as a;

.container {
  max-width: 15rem;
  min-height: 25rem;
  @include a.flex-direction-column;
  align-items: center;

  .img {
    position: absolute;
    z-index: 2;

    & > span {
      filter:
        drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
        drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481))
        drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185))
        drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.035))
        drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815))
        drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519));
    }
  }

  .info {
    @include a.flex-direction-column;
    gap: 0.3rem;
    position: relative;
    bottom: -7rem;
    padding: 6rem 1rem 1rem;
    border: 1px solid a.$primary-clr-1;
    border-radius: 0.8rem;
    box-shadow: 8px 8px 50px rgba(234, 0, 37, 0.17);

    &__text {
      text-align: left;

      p {
        font-size: a.$small-fs;
      }
    }

    &__bottom {
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        text-align: left;
        font-weight: a.$regular-fw;
        color: a.$primary-clr-5;
      }
    }
  }
}