@use "@styles/abstracts" as a;

.products {
  figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .price {
      font-weight: a.$regular-fw;
      font-size: a.$regular-fs;
      color: a.$primary-clr-5;
    }
  }
}