@use "@styles/abstracts"as a;

.container {
  padding: a.$primary-padding;

  .location {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: a.$secondary-padding;

    &__wrapper {
      height: 7rem;
      width: 13rem;
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      border-radius: 76% 24% 0% 24% / 0% 38% 0% 42%;
      box-shadow: a.$primary-box-shadow;
      padding: 1rem;
      cursor: pointer;
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .container {
    .location {
      padding: 0rem 3rem;
    }
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .container {
    .location {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}