@use "@styles/abstracts"as a;

.container {
  padding: a.$primary-padding;

  .location {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: a.$secondary-padding;

    &__wrapper {
      height: fit-content;
      width: fit-content;
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      border-radius: 76% 24% 0% 24% / 0% 38% 0% 42%;
      box-shadow: a.$primary-box-shadow;
      padding: 1rem;
      cursor: pointer;

      .address {

        p,
        span {
          color: a.$secondary-clr-2;
        }
      }
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .container {
    padding: 1rem 2rem 0rem;

    .location {
      padding: 0rem;
    }
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .container {
    .location {
      display: grid;
      place-items: center;
      grid-template-columns: repeat(2, 0.4fr);
      gap: 1rem;
    }
  }
}

// Media Query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    .location {
      &__wrapper {
        width: max-content;

        .address {
          h3 {
            font-size: 1rem;
          }

          p {
            font-size: 0.9rem;
          }

          span {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}