@use "@styles/abstracts"as a;

.container {
  @include a.flex-direction-column;
  gap: 1rem;

  .summary {
    display: flex;
    justify-content: space-between;

    p {
      font-weight: 600;
    }
  }

  .notice {
    p {
      font-size: a.$small-fs;
    }
  }
}