@use "@styles/abstracts"as a;

.container {
  @include a.flex-direction-column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: a.$primary-padding;

  .btn {
    @include a.button-one;
    padding: 0.3rem 1rem;
    margin: 0.5rem 0rem;
  }
}