@use "@styles/abstracts"as a;

.container {
  margin-top: 2rem;

  &__contact {
    padding: 2rem;
    display: flex;
    gap: 2rem;

    .left {
      flex: 1.5;
      background-color: a.$secondary-clr;
      border-radius: 1rem;
      display: grid;
      place-items: center;
      justify-content: center;
      gap: 2rem;
      padding: 8rem 0rem;

      figure {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;

        .icons {
          border: 1px solid a.$primary-clr-1;
          border-radius: 50%;
          height: 3rem;
          width: 3rem;
          display: grid;
          place-items: center;
          font-size: 1.5rem;
        }
      }

      .social__links {
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;
      }
    }

    .right {
      @include a.flex-direction-column;
      flex: 2;
      background-color: a.$secondary-clr;
      border-radius: 1rem;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      form {
        @include a.flex-direction-column;

        gap: 1rem;
        margin-top: 1rem;

        .form__control {
          @include a.flex-direction-column;
          gap: 0.5rem;

          input,
          textarea {
            border: 1px solid a.$primary-clr-1;
            border-radius: 0.5rem;
            width: 30rem;
            padding: 0.8rem 1rem;
            outline: none;
            color: a.$primary-clr-3;
            font-size: 1rem;
            font-family: inherit;

            &::placeholder {
              color: a.$primary-clr-2;
            }
          }

          textarea {
            height: 10rem;
          }
        }
      }
    }
  }
}