@use "@styles/abstracts"as a;

.container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;

  .wrapper__img {
    flex: 1;
    position: relative;
    transition: opacity 0.3s ease;

    &>span {
      filter: drop-shadow(0 2rem 0.8rem rgba($color: a.$primary-clr-1, $alpha: 0.5));
    }
  }

  .info {
    flex: 3;
    gap: 0.5rem;

    h4 {
      font-size: a.$regular-fs;
    }

    .price {
      font-weight: a.$regular-fw;
      color: a.$primary-clr-5;
    }

    .desc {
      margin-top: 0.5rem;
    }

    .btn__cart {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      .more__info {
        background-color: a.$primary-clr-1;
        padding: 0rem 0.5rem;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: a.$transition-ease;

        .info__icon {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        &:hover {
          background-color: a.$primary-clr-3;
          color: a.$primary-clr;
        }
      }
    }
  }
}

// *******MEDIA QUERY********

// Media Query for small deviees (less than 480px)
@include a.media-query(small) {
  .container {
    .info {
      .btn__cart {
        flex-direction: column-reverse;
        align-items: start;
        gap: 0.5rem;
      }
    }
  }
}