@use "@styles/abstracts"as a;

.container {
  @include a.flex-direction-column;
  padding: 2rem;
  gap: 2rem;

  h1 {
    @include a.header;
    text-align: center;
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .left {
      @include a.flex-direction-column;
      gap: 1rem;
      flex: 1;
      box-shadow: a.$primary-box-shadow;
      padding: 1rem 2rem;
      border-radius: 1rem;
      height: fit-content;

      h1 {
        font-size: a.$middle-fs;
        text-align: center;
      }

      hr {
        @include a.hr;
        border-top: 0.1rem solid a.$primary-clr-1;
      }

      .list__summary {
        @include a.flex-direction-column;
        gap: 0.5rem;

        .list__items {
          display: flex;
          gap: 1rem;

          .item__img {
            flex: 0.5;
            display: flex;
            justify-content: center;
            align-items: flex-start;
          }

          .item__info {
            flex: 3;
            display: flex;
            flex-direction: column;

            h3 {
              line-height: 1;
            }

            .extras {
              font-size: a.$small-fs;
              color: a.$primary-clr-2;
            }
          }

          .item__details {
            @include a.flex-direction-column;
            align-items: center;

            .price,
            .quantity {
              color: a.$primary-clr-4;
              font-size: a.$small-fs;
            }
          }
        }

        &__empty {
          font-size: a.$middle-fs;
          font-weight: a.$regular-fw;
        }
      }
    }

    .right {
      @include a.right-aside;

      h1 {
        font-size: a.$middle-fs;
        text-align: center;
      }

      hr {
        @include a.hr;
      }

      .btn__container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .btn {
          width: 13rem;
          @include a.cart-btns;
        }
      }
    }
  }
}

// ******MEDIA QUERIES******

// Media query for medium devices (less than 768px)
@include a.media-query(medium) {
  .container {
    padding: 1rem;

    h1 {
      font-size: 2.5rem;
    }
  }
}

// Media query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    h1 {
      font-size: 2rem;
    }

    .content {
      flex-direction: column;
    }
  }
}