@use "@styles/abstracts"as a;

.container {
  padding: a.$primary-padding;

  .newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: a.$secondary-padding;

    form {
      display: flex;
      align-items: center;
      border: 2px solid a.$primary-clr-2;
      border-radius: 2rem;

      input {
        border: none;
        border-radius: 2rem;
        width: 25rem;
        padding: 0.8rem 1.5rem;
        outline: none;
        color: a.$primary-clr-3;
        font-size: 1rem;

        &::placeholder {
          color: a.$primary-clr-2;
        }
      }

      button {
        border-radius: 2rem;
        border: 2px solid a.$primary-clr-2;
        background-color: transparent;
        cursor: pointer;
        padding: 0.6rem 0.9rem;
        margin-right: 0.2rem;
        color: a.$primary-clr-3;
        text-transform: uppercase;
        font-weight: bold;
        transition: a.$transition-ease;

        &:hover {
          color: a.$primary-clr;
          background-color: a.$primary-clr-3;
        }
      }
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .container {
    padding: 2rem 2rem 0rem;

    .newsletter {
      padding: 0rem;
    }
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .container {
    .newsletter {
      form {
        button {
          margin-right: 0.1rem;
        }
      }
    }
  }
}

// Media Query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    .newsletter {
      padding: 0rem;

      form {
        input {
          width: 18rem;
        }
      }
    }
  }
}