// Font Family
$primary-ff: 'Poppins', sans-serif;
$secondary-ff: 'Water Brush', cursive;

// Font Size
$very-small-fs: 0.6rem;
$small-fs: 0.8rem;
$regular-fs: 1.2rem;
$middle-fs: 1.6rem;
$medium-fs: 3rem;
$large-fs: 5rem;

// Font Weight
$bold-fw: 700;
$regular-fw: 500;
$light-fw: 300;