@use "@styles/abstracts" as a;

.container {
  margin: 2rem 0rem;

  .about {
    display: grid;
    place-items: center;
    padding: 2rem 0rem;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .card {
        display: flex;
        align-items: center;

        .img {
          flex: 1;
          display: grid;
          place-items: center;
        }
  
        .text {
          flex: 2;
        }
      }
    }
  }
}