@use "@styles/abstracts"as a;

.container {
  padding: a.$primary-padding;
  overflow: hidden;

  .testimonials {
    position: relative;
    padding: a.$secondary-padding;

    &__left,
    &__right {
      @include a.arrow;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 18rem;
      background-color: a.$primary-clr;

      .arrow {
        font-size: 2rem;
        transition: a.$transition-ease;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &__left {
      justify-content: end;
      left: 0;
    }

    &__right {
      justify-content: start;
      right: 0;
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      width: 400vw;
      height: 100%;
      transition: all 0.5s linear;

      .slider {
        width: 100vw;
        display: flex;
        justify-content: center;
        gap: 2rem;

        .img {
          &>span {
            border-radius: 50%;
          }
        }

        .info {
          width: 45%;

          p {
            font-style: italic;
            color: a.$secondary-clr-2;
          }
        }
      }
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .container {
    padding: 3rem 0rem 0rem;

    .header {
      padding: 0rem 2rem;
    }

    .testimonials {
      padding: 0rem;

      &__left,
      &__right {
        width: 12rem;
      }
    }
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .container {
    .testimonials {

      &__left,
      &__right {
        width: 8rem;
      }
    }
  }
}

// Media Query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    .testimonials {

      &__left,
      &__right {
        width: 4rem;
      }

      &__wrapper {
        .slider {
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          text-align: center;
        }
      }
    }
  }
}