@use "@styles/abstracts"as a;

.sidebar {
  @include a.flex-direction-column;
  flex: 0.5;
  gap: 1rem;

  .search {
    input {
      border: none;
      border-radius: 0.25rem;
      background-color: a.$primary-clr-1;
      padding: 0.5rem;
      color: a.$primary-clr-3;
      outline: none;

      &::placeholder {
        color: a.$primary-clr-2;
      }
    }
  }

  .category {
    .btn__filter {
      @include a.flex-direction-column;
      margin-top: 0.5rem;
      border: none;
      background-color: transparent;
      color: a.$primary-clr-3;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

//********MEDIA QUERY********

// Media Query for small deviees (less than 480px)
@include a.media-query(small) {
  .sidebar {
    text-align: center;

    .category {
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
      }
    }

    .price {
      @include a.flex-direction-column;

      input {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}