@use "@styles/abstracts"as a;

.container {
  display: grid;
  place-items: center;
  text-align: center;

  .header {
    @include a.header;
  }

  .content {
    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          border-bottom: 1px solid a.$primary-clr-2;
        }
      }
    }
  }
}