@use "@styles/abstracts"as a;

.container {
  padding: 2rem 3rem;

  .tabs {
    @include a.flex-direction-column;
    gap: 1.5rem;

    .nav {
      width: 95%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      hr {
        border: none;
        border-top: 0.1rem solid a.$primary-clr-2;
        width: 20rem;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
  }
}

// ******MEDIA QUERIES******

// Media query for larger devices (less than 1024px)
@include a.media-query(large) {
  .container {
    padding: 2rem 1rem;
  }
}