@use "@styles/abstracts"as a;

.container {
  @include a.flex-direction-column;
  padding: 2rem 3rem;
  gap: 1.5rem;

  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;

    hr {
      width: 12rem;
      border: none;
      border-top: 1px solid a.$primary-clr-2;
    }

    figure {
      cursor: pointer;
    }

    .completed {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .pending {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      animation: pending 1s ease infinite alternate;

      .checked__icon {
        display: none;
      }
    }

    @keyframes pending {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .incomplete {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      opacity: 0.4;

      .checked__icon {
        display: none;
      }
    }
  }

  h1 {
    @include a.header;
    text-align: center;
  }

  .bottom {
    display: flex;
    gap: 2rem;

    .left {
      flex: 3;

      table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;

        tbody {
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;

          tr {
            border-bottom: 1px solid a.$primary-clr-1;

            td {
              padding: 0.5rem 0rem;

              .extra__toppings {
                @include a.flex-direction-column;
              }
            }
          }
        }

        .counter {
          display: flex;
          justify-content: center;
        }

        .bin {
          cursor: pointer;
          margin-left: 0.5rem;
        }
      }
    }

    .right {
      @include a.flex-direction-column;
      flex: 1;
      gap: 1rem;
      background-color: a.$primary-clr-1;
      border-radius: 1rem;
      padding: 1rem 1.5rem;
      width: 40rem;
      height: fit-content;

      h1 {
        font-size: a.$middle-fs;
        text-align: center;
      }

      hr {
        border: none;
        border-top: 0.1rem solid a.$primary-clr;
        width: 100%;
      }

      &__summary {
        display: flex;
        justify-content: space-between;
      }

      .btn {
        @include a.button;
        margin: 0 auto;
        background-color: a.$primary-clr;
        height: 2.5rem;
        padding: 0.5rem 3rem 0.5rem 1rem;
        text-transform: uppercase;
        font-weight: a.$bold-fw;

        .icon {
          height: 2rem;
          width: 2rem;

          svg {
            width: 1.5rem;
          }
        }
      }
    }
  }

  .btn__order {
    @include a.button-one;
    margin: 1rem auto;
    padding: 0.3rem 1rem;
  }
}