@use "@styles/abstracts"as a;

.container {
  display: grid;
  place-items: center;
  text-align: center;

  .header,
  .footer {
    text-transform: uppercase;
  }

  .footer {
    .btn__order {
      margin: 1.5rem 0rem;
    }
  }
}