@use "@styles/abstracts"as a;

.container {
  height: calc(100vh - 5.25rem);

  .top {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    user-select: none;

    .arrow {
      cursor: pointer;
      transition: a.$transition-ease;

      &:hover {
        opacity: 0.5;
      }
    }

    .arrow__left,
    .arrow__right {
      @include a.arrow;
      font-size: 3rem;
    }

    .arrow__left {
      left: 0;
      justify-content: end;
    }

    .arrow__right {
      right: 0;
      justify-content: start;
    }

    .wrapper {
      width: 500vw;
      height: 100%;
      display: flex;
      justify-content: center;
      transition: a.$transition-slider;

      .slider {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;

        article {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          text-align: center;
          line-height: 1;
          text-transform: uppercase;

          h1 {
            font-size: a.$medium-fs;
            font-weight: a.$bold-fw;
            color: a.$primary-clr-2;
            text-transform: capitalize;
          }

          h2 {
            font-size: a.$large-fs;
            font-weight: a.$bold-fw;

            &::after {
              content: "";
              display: block;
              width: 25%;
              height: 0.2rem;
              background-color: a.$primary-clr-3;
              margin: 0 auto;
            }
          }

          .percentage {
            font-size: a.$medium-fs;
            font-weight: a.$regular-fw;
            color: a.$primary-clr-2;
          }

          .btn {
            @include a.button-one;
            margin: auto;
            padding: 0.5rem 1rem;
          }
        }

        figure {
          flex: 1;
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .dot {
      width: 1.5rem;
      height: 0.7rem;
      border-radius: 1rem;
      background-color: a.$primary-clr-2;
      cursor: pointer;
      transition: a.$transition-ease;
    }

    .active {
      background-color: a.$primary-clr-1;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .container {
    height: calc(47vh - 5.25rem);

    .top {
      .wrapper {
        .slider {
          margin: 2rem 0rem;
        }
      }
    }
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .container {
    height: calc(50vh - 5.25rem);

    .top {
      .wrapper {
        .slider {
          article {
            h1 {
              font-size: a.$middle-fs;
            }
          }
        }
      }
    }
  }
}

// Media Query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    height: calc(92vh - 5.25rem);

    .top {
      .arrow__left {
        left: 0rem;
        font-size: 2rem;
      }

      .wrapper {
        .slider {
          flex-direction: column-reverse;

          article {
            h1 {
              font-size: a.$middle-fs;
            }

            h2 {
              font-size: a.$medium-fs;
            }

            span {
              font-size: a.$middle-fs;
            }
          }

          figure {
            padding: 0rem 2rem;
          }
        }
      }

      .arrow__right {
        right: 0rem;
        font-size: 2rem;
      }
    }
  }
}