@use "@styles/abstracts" as a;

.container {
  height: calc(100vh - 5.25rem);

  .top {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    user-select: none;

    .arrow__left {
      @include a.arrow;

      left: 2rem;
      font-size: 3rem;
    }

    .wrapper {
      width: 500vw;
      height: 100%;
      display: flex;
      justify-content: center;
      transition: a.$transition-slider;

      .slider {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;

        article {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          text-align: center;
          line-height: 1;
          text-transform: uppercase;

          h1 {
            font-size: a.$medium-fs;
            font-weight: a.$bold-fw;
            color: a.$primary-clr-2;
            text-transform: capitalize;
          }

          h2 {
            font-size: a.$large-fs;
            font-weight: a.$bold-fw;

            &::after {
              content: "";
              display: block;
              width: 25%;
              height: 0.2rem;
              background-color: a.$primary-clr-3;
              margin: 0 auto;
            }
          }

          span {
            font-size: a.$medium-fs;
            font-weight: a.$regular-fw;
            color: a.$primary-clr-2;
          }

          .btn {
            position: relative;
            margin: auto;
            padding: 0.5rem 1rem;
            transition: a.$transition-ease;
            border: none;
            background: none;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              border-radius: 3.125rem;
              background-color: a.$primary-clr-1;
              width: 2.2rem;
              height: 2.2rem;
              transition: all 0.3s ease;
            }

            span {
              position: relative;
              font-size: a.$small-fs;
              font-weight: a.$bold-fw;
              letter-spacing: 0.05em;
              color: a.$primary-clr-3;
            }

            svg {
              position: relative;
              top: 0;
              margin-left: 0.625rem;
              fill: none;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke: a.$primary-clr-3;
              stroke-width: 2;
              transform: translateX(-0.313rem);
              transition: a.$transition-ease;
            }

            &:hover::before {
              width: 100%;
              background-color: a.$primary-clr-1;
            }

            &:hover svg {
              transform: translateX(0);
            }

            &:active {
              transform: scale(0.95);
            }
          }
        }

        figure {
          flex: 1;
        }
      }
    }

    .arrow__right {
      @include a.arrow;

      right: 2rem;
      font-size: 3rem;

      @include a.media-query(small) {
        right: 1rem;
        font-size: 2rem;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .dot {
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
      background-color: a.$primary-clr-2;
      cursor: pointer;
      transition: a.$transition-ease;
    }

    .active {
      background-color: a.$primary-clr-1;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .container {
    height: calc(47vh - 5.25rem);

    .top {
      .wrapper {
        .slider {
          margin: 2rem 0rem;
        }
      }
    }
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .container {
    height: calc(50vh - 5.25rem);

    .top {
      .wrapper {
        .slider {
          article {
            h1 {
              font-size: a.$middle-fs;
            }
          }
        }
      }
    }
  }
}

// Media Query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    height: calc(92vh - 5.25rem);

    .top {
      .arrow__left {
        left: 0rem;
        font-size: 2rem;
      }

      .wrapper {
        .slider {
          flex-direction: column-reverse;

          article {
            h1 {
              font-size: a.$middle-fs;
            }

            h2 {
              font-size: a.$medium-fs;
            }

            span {
              font-size: a.$middle-fs;
            }
          }

          figure {
            padding: 0rem 2rem;
          }
        }
      }

      .arrow__right {
        right: 0rem;
        font-size: 2rem;
      }
    }
  }
}