@use "@styles/abstracts"as a;

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 0rem 5rem;

  .wrapper {
    display: flex;
    box-shadow: a.$secondary-box-shadow;
    border-radius: 1rem;

    .left {
      flex: 1;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;

      &__header {
        padding: 0.5rem 1rem 0rem;

        h1 {
          font-family: a.$secondary-ff;
        }
      }

      hr {
        border: none;
        border-bottom: 1px solid a.$primary-clr-1;
      }

      &__content {
        display: grid;
        place-items: center;
        padding: 2rem 0rem;

        p {
          margin: 0.5rem 0rem;
          font-size: a.$small-fs;
        }

        form {
          margin-top: 1.5rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .form__control {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            label {
              font-size: 0.9rem;
              font-weight: 600;
              display: flex;
              gap: 0.25rem;
            }

            input {
              border: 1px solid a.$primary-clr-1;
              border-radius: 0.5rem;
              padding: 0.5rem;
              width: 17rem;
              outline: none;
              color: a.$primary-clr-3;

              &::placeholder {
                color: a.$primary-clr-2;
              }
            }

            .form__icons {
              display: grid;
              place-items: center;
            }

            .info__icons {
              position: absolute;
              top: 0.25rem;
              right: 0;
            }

            .input__field {
              display: flex;
              flex-direction: column;
            }

            .instructions {
              width: 17rem;
              font-size: 0.6rem;
              border-radius: 0.5rem;
              background: #000;
              color: #fff;
              padding: 0.25rem;
              position: relative;
            }

            .instructions>svg {
              margin-right: 0.25rem;
            }

            .offscreen {
              position: absolute;
              left: -9999px;
            }

            .hide {
              display: none;
            }

            .valid {
              color: limegreen;
            }

            .invalid {
              color: red;
            }

            .error__msg {
              background-color: lightpink;
              color: firebrick;
              font-weight: bold;
              padding: 0.5rem;
              margin-bottom: 0.5rem;
            }
          }

          .terms {
            display: flex;
            align-items: center;
            gap: 1rem;

            label {
              font-size: a.$small-fs;
            }
          }

          .btn {
            @include a.btn;
            margin: 0rem auto;
            padding: 0.2rem 1rem;
            cursor: pointer;
            user-select: none;

            &::before {
              @include a.btn-before;
            }

            .text {
              @include a.btn-text;
            }

            svg {
              @include a.btn-svg;
            }
          }
        }

        .bottom__content {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-top: 1rem;

          a {
            font-size: a.$small-fs;
            color: a.$primary-clr-4;
            text-decoration: underline;
          }
        }
      }
    }

    .right {
      @include a.flex-direction-column;
      gap: 1rem;
      flex: 1;
      background-color: a.$primary-clr-1;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding: 2rem;

      p {
        text-align: center;
        font-size: a.$regular-fs;
      }
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .container {
    .wrapper {
      flex-direction: column;

      .right {
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 1rem;
      }
    }
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .container {
    padding: 2rem;
  }
}

// Media Query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    padding: 1rem;

    .wrapper {
      .left {
        &__content {
          padding: 1rem;

          form {
            .form__control {
              input {
                width: 15rem;
              }
            }
          }
        }
      }
    }
  }
}